@use '../../styles/vars';

.card {
  margin-top: vars.$gutter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: vars.$color2;
  padding: vars.$gutter;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px #fff;
  box-shadow: inset 1px 1px 5px #fff;
  border: 1px solid rgba(0,0,0,.2);

  

  &__form {
    display: flex;
    flex-direction: column;
    &__input {
      color: #EEE;
      border: none;
      background-color: vars.$color3;
      padding: 0.5em;
      margin-bottom: vars.$halfGutter;
    }
    &__btn:hover {
      color: blue;
    }
    &__btn {
      color: #EEE;
      background-color: vars.$color3;
      padding: 1em;
      border: none;
      border-radius: 5px;
      -webkit-box-shadow: inset 1px 1px 5px #fff;
      box-shadow: inset 1px 1px 5px #fff;
    }
  }
}

